<div class="border rounded-lg mt-3">
  <div class="row m-0 border-bottom">
    <div class="col p-3">
      <div class="font-weight-bold">Total Money Out</div>
    </div>
    <div class="col text-right p-3"><%= number_to_currency(@cashflow.total_money_out.abs) %></div>
  </div>

  <div class="row m-0 my-4">
    <div class="col med primary bold-1 p-3"><span>Essential Spend</span></div>
    <div class="col text-right med primary p-3"><%= number_to_currency(@spend_by_categories[:essentials_total]) %></div>
  </div>
  <% @spend_by_categories[:essentials_by_categories].each do |spend| %>
  <% if spend.transactions.count > 0 %>
  <div class="row m-0 border-bottom category-row" data-cashflow-type="money_out" data-essential="true">
    <div class="col-lg-9 p-3">
      <div class=""><%= spend.category_name %></div>
      <div class="small grey"><%= pluralize(spend.transactions.count, 'transactions') %></div>
    </div>
    <div class="col-lg-3 p-3 text-right"><%= number_to_currency(spend.total_spend)%></div>
  </div>
  <% end %>
  <% end %>

  <div class="row m-0 my-4">
    <div class="col med primary bold-1 p-3"><span>Non-Essential Spend</span></div>
    <div class="col text-right med primary p-3"><%= number_to_currency(@spend_by_categories[:extras_total]) %></div>
  </div>
  <% @spend_by_categories[:extras_by_categories].each do |spend| %>
  <% if spend.transactions.count > 0 %>
  <div class="row m-0 border-bottom category-row" data-cashflow-type="money_out" data-essential="false">
    <div class="col-lg-9 p-3">
      <div class=""><%= spend.category_name %></div>
      <div class="small grey"><%= pluralize(spend.transactions.count, 'transactions') %></div>
    </div>
    <div class="col-lg-3 p-3 text-right"><%= number_to_currency(spend.total_spend)%></div>
  </div>
  <% end %>
  <% end %>
</div>