<div class="border rounded-3">
  <div class="row m-0 border-bottom p-2">
    <div class="col">
      <div class="fw-bold">Total Money Out</div>
    </div>
    <div class="col text-end fw-bold"><%= number_to_currency(@cashflow.total_money_out.abs) %></div>
  </div>
  <div class="row m-0 my-4 p-2">
    <div class="col"><span>Essential Spend</span></div>
    <div class="col text-end"><%= number_to_currency(@spend_by_categories[:essentials_total]) %></div>
  </div>
  <% if @spend_by_categories[:essentials_by_categories].empty? %>
    <div class="row m-0">
      <div class="col-12 py-3 border-bottom">
        <div class="text-center grey-100 font-italic med">No transactions yet.</div>
      </div>
    </div>
  <% else %>
    <% @spend_by_categories[:essentials_by_categories].each do |spend| %>
      <% if spend.transactions.count > 0 %>
      <div class="row m-0 border-bottom category-row p-2"
        data-controller="transactions" data-action="click->transactions#showTransactions">
        <div class="col-8">
          <div><%= spend.category_name %></div>
          <div class="small grey-100">
            <%= link_to "#{pluralize(spend.transactions.count, 'transaction')}", '#', class: 'primary text-decoration-underline '%>
          </div>
        </div>
        <div class="col-4 text-end"><%= number_to_currency(spend.total_spend)%></div>
        <div class="small col-12 transactions-summary hide primary-900-bg my-3">
          <%= render 'transactions/transactions_summary_container', transactions: spend.transactions %>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end%>

  <div class="row m-0 my-4 p-2">
    <div class="col-8"><span>Non-Essential Spend</span></div>
    <div class="col-4 text-end"><%= number_to_currency(@spend_by_categories[:extras_total]) %></div>
  </div>
  <% if @spend_by_categories[:extras_by_categories].empty? %>
    <div class="row m-0">
      <div class="col-12 py-3 border-bottom">
        <div class="text-center grey-100 font-italic med">No transactions yet.</div>
      </div>
    </div>
  <% else %>
    <% @spend_by_categories[:extras_by_categories].each do |spend| %>
      <% if spend.transactions.count > 0 %>
      <div class="row m-0 border-bottom category-row p-2" data-controller="transactions" data-action="click->transactions#showTransactions">
        <div class="col-8">
          <div><%= spend.category_name %></div>
          <div class="small grey-100">
            <%= link_to "#{pluralize(spend.transactions.count, 'transaction')}", '',
            data: {category_name: "#{spend.category_name}", cashflow_type: 'money_out', essential: 'true',
            action: 'click->transactions#showTransactionsModal'}, class: 'primary text-decoration-underline '%>
          </div>
        </div>
        <div class="col-4 text-end"><%= number_to_currency(spend.total_spend)%></div>
        <div class="small col-sm-12 transactions-summary hide primary-900-bg my-3">
          <%= render 'transactions/transactions_summary_container', transactions: spend.transactions %>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>