<div class="border rounded-lg">
  <div class="border-bottom row m-0">
    <div class="col-lg-6 font-weight-bold p-3">Total Money In (<%= @cashflow.time_period %>)</div>
    <div class="col-lg-6 text-right p-3"><%= number_to_currency(@cashflow.total_money_in.abs) %></div>
  </div>
  <% @earning_transactions.each do |earning| %>
  <% if earning.transactions.count > 0 %>
  <div class="row m-0 border-bottom category-row" data-cashflow-type="money_in" data-essential="true">
    <div class="col-lg-9 p-3">
      <div class=""><%= earning.category_name %></div>
      <div class="small grey"><%= pluralize(earning.transactions.count, 'transactions') %></div>
    </div>
    <div class="col-lg-3 p-3 text-right"><%= number_to_currency(earning.total_spend.abs)%></div>
  </div>
  <% end %>
  <% end %>
</div>
