<div class="spend-container">
  <div>
    <div class="spend-title"><%= title %></div>
    <div class="total-spend"><%= number_to_currency(transactions_by_categories.map { |spend| spend.total_spend }.sum) %></div>
  </div>
  <% transactions_by_categories.each do |spend| %>
    <% if spend.transactions.count > 0 %>
      <div class="flex-container category-spend">
        <div><%= spend.category_name %></div>
        <div><%= number_to_currency(spend.total_spend)%></div>
      </div>
      <div class="tx-container hide">
        <% spend.transactions.each do |tx| %>
          <%= render 'transaction_summary', tx: tx %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>