<div class="primary text-uppercase bold-2 med"><%= title %></div>
<div class="bold lg-36"><%= number_to_currency(metric_value)%></div>
<div class="metric-trend small">
  <% if delta[:value] > 0 %>
  <svg fill="currentColor" viewBox="0 0 20 20" class="icon-small up">
    <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd">
    </path>
  </svg>
  <span class="trend-value up"><%= format_historical_data(delta)%></span>
  <% elsif %>
  <svg fill="currentColor" viewBox="0 0 20 20" class="icon-small down">
    <path fill-rule="evenodd" d="M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z" clip-rule="evenodd">
    </path>
  </svg>
  <span class="trend-value down"><%= format_historical_data(delta)%></span>
  <% end %>
  <div class="small"><%= @cashflow.time_period %></div>
</div>