<div class="container">
  <div class="subscriptions">
    <p class="title">Subscriptions</p>
    <table class="table">
      <tbody>
        <% @subscriptions.each do |subscription| %>
        <tr>
          <td>
            <div class="bold"><%= subscription.last_transaction.description %></div>
            <div class="small grey"><%= subscription.frequency %>, <%= subscription.last_transaction.category_list %></div>
          </td>
          <td>
            <div class=""><%= number_to_currency(subscription.last_transaction.amount)%></div>
            <div class="small grey">Last paid on <%= subscription.last_transaction.occured_at %></div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>