<div class="small">
  <% if trend_value >= 0 %>
    <span class="trend-value up">+<%= number_to_currency(trend_value)%></span>
  <% else %>
    <span class="trend-value down"><%= number_to_currency(trend_value)%></span>
  <% end %>
  <% if trend_percentage >= 0 %>
    <span class="trend-value up">(<%= number_to_percentage(trend_percentage, precision: 2)%>)</span>
  <% else %>
    <span class="trend-value down">(<%= number_to_percentage(trend_percentage, precision: 2)%>)</span>
  <% end %>
  <span class="grey-500"><%= trend_period %></span>
</div>