<% title "Cashflow" %>
<div class="mt-4 px-3">
  <% if current_user.new_account? %>
  <div class="intro">
    <h1>Hello there, Welcome to Cheer!</h1>
    <p class="subtext">
      To get you started, let's connect your accounts first. After that, you will be able to view
      your total <b>Net Worth</b> and <b>Cashflow</b>.
    </p>
    <div class="connect">
      <%= link_to('Link your first account', '', class: 'btn btn-primary btn-lg my-3 fw-bold', data: {controller: 'plaid',
      action: 'click->plaid#createLoginItem'}, id: 'plaid-link') %>
    </div>
  </div>
  <% else %>
  <div class="row border-bottom px-3 py-3">
    <div class="col-sm-3">
      <div class="mb-5">
        <div class="primary text-uppercase small bold-2">Net Worth</div>
        <h2 class="lg-28 fw-bold"><%= number_to_currency(@net_worth_stat.current_value)%></h2>
        <div class="small">
          <%= render 'trend', trend: @net_worth_change, trend_period: @period_description%>
        </div>
      </div>
      <div class="mb-5">
        <div class="primary text-uppercase bold-2 small">Assets</div>
        <h2 class="lg-28 fw-bold"><%= number_to_currency(@assets_stat.current_value)%></h2>
        <div class="small">
          <%= render 'trend', trend: @assets_change, trend_period: @period_description%>
        </div>
      </div>
      <div class="mb-5">
        <div class="primary text-uppercase bold-2 small">Liabilities</div>
        <h2 class="lg-28 fw-bold"><%= number_to_currency(@liabilities_stat.current_value)%></h2>
        <div class="small">
          <%= render 'trend', trend: @liabilities_change, trend_period: @period_description%>
        </div>
      </div>
    </div>
    <div class="col-sm-9" data-controller="container">
      <div id="cashflow-trend" class="fade mb-5"></div>
    </div>
    <div><%= render 'shared/cashflow_time_periods' %></div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-5">
      <div class="border rounded-3">
        <div class="header px-2 py-3 row m-0 fw-bold">
          <div class="col">
            <div>Assets</div>
            <div class="grey-500 fw-normal xs text-uppercase"><%= pluralize(@assets_count, 'account')%></div>
          </div>
          <div class="col text-end">
            <%= number_to_currency(@assets_stat.current_value)%>
            <div class="xs fw-normal">
              <%= render 'trend', trend: @assets_change, trend_period: nil %>
            </div>
          </div>
        </div>
        <div class="row m-0 my-4 p-2 bold-2">
          <div class="col">
            <div>Cash</div>
            <div class="grey-500 fw-normal xs text-uppercase"><%= pluralize(@cash_asset_accounts.count, 'account')%></div>
          </div>
          <div class="col text-end">
            <%= number_to_currency(@cash_stat.current_value)%>
            <div class="xs fw-normal">
              <%= render 'trend', trend: @cash_change, trend_period: nil%>
            </div>
          </div>
        </div>
        <div class="">
          <% @cash_asset_accounts.each do |account|%>
            <%= render 'bank_accounts/account_details', account: account %>
          <% end %>
        </div>
        <div class="row m-0 my-4 p-2 bold-2">
          <div class="col">
            <div>Investments</div>
            <div class="grey-500 fw-normal xs text-uppercase"><%= pluralize(@non_cash_asset_accounts.count, 'account')%></div>
          </div>
          <div class="col text-end">
            <%= number_to_currency(@investments_stat.current_value)%>
            <div class="xs fw-normal">
              <%= render 'trend', trend: @investments_change, trend_period: nil%>
            </div>
          </div>
        </div>
        <div>
          <% @non_cash_asset_accounts.each do |account|%>
            <%= render 'bank_accounts/account_details', account: account %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-5">
      <div class="border rounded-3">
        <div class="header px-2 py-3 row m-0 fw-bold">
          <div class="col fw-bold ">
            <div>Liabilities</div>
            <div class="grey-500 fw-normal xs text-uppercase"><%= pluralize(@liability_accounts.count, 'account')%></div>
          </div>
          <div class="col text-end">
            <%= number_to_currency(@liabilities_stat.current_value)%>
            <div class="xs fw-normal">
              <%= render 'trend', trend: @liabilities_change, trend_period: nil%>
            </div>
          </div>
        </div>
        <% @liability_accounts.each do |account|%>
          <%= render 'bank_accounts/account_details', account: account %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
