<% title "Export Summary" %>
<div class="stages border-top p-2 mb-3" data-controller="plaid">
  <div class="row m-0">
    <h1>1. Connect your institutions.</h1>
    <div class="">
      <% if @bank_accounts_count > 0 %>
        <section class="med grey-500 py-2 mb-4">You have <%= pluralize(@login_items.count, 'institution')%> connected.</section>
        <% @login_items.each do |login_item| %>
        <div class="row py-3 border-bottom m-0">
          <% if login_item&.institution&.logo.present? %>
            <div class="p-2 col-1 d-none d-xl-block text-center">
              <%= image_tag login_item&.institution&.logo_source, size: "30x30" %>
            </div>
          <% else %>
            <div class="p-2 col-1 d-none d-xl-block placeholder-logo text-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="teal" class="icon-item teal">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
              </svg>
            </div>
          <% end %>
          <div class="col small py-3"><%= login_item&.institution&.name %></div>
          <div class="col text-end">
            <%= link_to 'Disconnect', login_item_path(login_item),
            :data => { :confirm => "We will delete all accounts and transactions connected to this institution." },
            :method => :delete,
            class: 'btn btn-outline-danger btn-sm xs' %>
          </div>
        </div>
        <% end %>
        <div class="connect mt-3">
          <%= link_to('Link another institution.', '', class: 'btn btn-primary btn-sm fw-bold', data: {controller: 'plaid',
          action: 'click->plaid#createLoginItem', remote: true}, id: 'plaid-link') %>
        </div>
      <% else %>
        <section class="med grey-500 py-2">Let's begin by linking your accounts with Cheer.</section>
        <div class="connect">
          <%= link_to('Link your first account', '', class: 'btn btn-primary fw-bold', data: { action: 'click->plaid#createLoginItem'}, id: 'plaid-link') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="stages border-top p-2 purple-border my-1">
  <div class="row m-0">
    <h1>2. Review your accounts.</h1>
    <section class="med grey-500 py-2">Below is a list of all your linked accounts. Your financial summary will be generated for these accounts.</section>
    <% @bank_accounts.each do |account| %>
      <div class="small">
        <% unless account.archived? %>
        <%= render 'bank_accounts/account_details', account: account, show_balance_updated_at: false %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="stages border-top p-2 purple-border my-1">
  <div class="row m-0">
    <h1>3. Generate financial summary.</h1>
    <section class="med grey-500 py-2">Select the time period over which you would like to generate your summary.</section>
  </div>
</div>
<div class="stages border-top p-2 purple-border my-1">
  <div class="row m-0">
    <h1>4. Delete your data.</h1>
    <section class="med grey-500 py-2">Delete all of your data.</section>
  </div>
</div>