<% title "Income and Expenses" %>
<div class="mt-4 px-3">
  <% if current_user.new_account? %>
  <div class="intro">
    <h1>Hello there, Welcome to Cheer!</h1>
    <p class="subtext">
      To get you started, let's connect your accounts first. After that, you will be able to view
      your <b>Income & Expenses</b> snapshot here.
    </p>
    <div class="connect">
      <%= link_to('Link your first account', '', class: 'btn btn-primary btn-lg my-3 fw-bold', data: {controller: 'plaid',
      action: 'click->plaid#createLoginItem'}, id: 'plaid-link') %>
    </div>
  </div>
  <% else %>
  <%= hidden_field_tag 'start', @start_date %>
  <%= hidden_field_tag 'end', @end_date %>
  <div class="row border-bottom px-3 py-3">
    <div class="col-sm-3">
      <div class="mb-5">
        <%= render 'metric', title: 'income', metric_value: @income_stat, element_id: 'income-value' %>
      </div>
      <div class="mb-5">
        <%= render 'metric', title: 'expenses', metric_value: @expenses_stat, element_id: 'expenses-value' %>
      </div>
      <div class="mb-5">
        <%= render 'metric', title: 'savings', metric_value: @savings_stat, element_id: 'savings-value' %>
      </div>
    </div>
    <div class="col-sm-9" data-controller="charts"
    data-charts-default-income-value="<%= number_to_currency(@income_stat)%>"
    data-charts-default-expenses-value="<%= number_to_currency(@expenses_stat)%>"
    data-charts-default-savings-value="<%= number_to_currency(@savings_stat)%>">
      <div class="px-2 py-2 my-3" data-charts-target="incomeExpenseChart">
        <canvas id="income-expense-chart"></canvas>
      </div>
    </div>
    <div><%= render 'time_period_scale' %></div>
  </div>

  <div class="row">
    <div class="col-sm-6 mt-5">
      <div class="border rounded-3">
        <div class="row m-0 border-bottom p-2">
          <div class="col">
            <div class="fw-bold">Total expenses</div>
          </div>
          <div class="col text-end fw-bold"><%= number_to_currency(@expenses_stat) %></div>
        </div>
        <%= turbo_frame_tag('expenses', src: "/expenses?start=#{@start_date}&end=#{@end_date}") do %>
          <div class="d-flex justify-content-center m-5">
            <div class="spinner-border grey-100" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 mt-5">
      <div class="border rounded-3">
        <div class="border-bottom row m-0 p-2">
          <div class="col-6">
            <div class="fw-bold">Total income</div>
          </div>
          <div class="col-6 text-end fw-bold"><%= number_to_currency(@income_stat) %></div>
        </div>
        <%= turbo_frame_tag('earnings', src: "/earnings?start=#{@start_date}&end=#{@end_date}") do %>
          <div class="d-flex justify-content-center m-5" >
            <div class="spinner-border grey-100" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
