<div class="metrics-container">
  <%= render 'metric', title: 'total earnings', metric_value: current_user.total_money_in %>
  <%= render 'metric', title: 'total expenses', metric_value: current_user.total_money_out %>
  <%= render 'metric', title: 'total savings', metric_value: current_user.total_savings %>
</div>
<div class="clear"></div>
<div class="budget-button">
  <%= link_to 'Start setting up a budget', '', class: 'btn btn-primary btn-lg btn-budget'%>
</div>
<%= render 'category_spend' %>
<% if @subscriptions.count > 0 %>
  <%= render 'subscriptions' %>
<% end %>
