<div class="metrics-container">
  <div class="metric">
    <div class="metric-title">Total Earnings</div>
    <div class="metric-value"><%= number_to_currency(9800)%></div>
    <div class="metric-trend">
      <svg fill="currentColor" viewBox="0 0 20 20" class="icon-small up">
        <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="trend-value up">+<%= number_to_currency(123)%> (<%= number_to_percentage(1, precision: 2)%>)</span>
      <span class="trend-timeframe">Past Month</span>
    </div>
  </div>
  <div class="metric">
    <div class="metric-title">Total Expenses</div>
    <div class="metric-value"><%= number_to_currency(8000)%></div>
    <div class="metric-trend up">
      <svg fill="currentColor" viewBox="0 0 20 20" class="icon-small up">
        <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="trend-value">+<%= number_to_currency(400)%> (<%= number_to_percentage(1, precision: 2)%>)</span>
      <span class="trend-timeframe">Past Month</span>
    </div>
  </div>
  <div class="metric">
    <div class="metric-title">Total Savings</div>
    <div class="metric-value"><%= number_to_currency(1800)%></div>
    <div class="metric-trend down">
      <svg fill="currentColor" viewBox="0 0 20 20" class="icon-small down">
        <path fill-rule="evenodd" d="M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="trend-value">+<%= number_to_currency(300)%> (<%= number_to_percentage(1, precision: 2)%>)</span>
      <span class="trend-timeframe">Past Month</span>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="budget-button">
  <%= link_to 'Start setting up a budget', '', class: 'btn btn-primary btn-lg btn-budget'%>
</div>
<div class="subscriptions">
  <p class="title">List of subscriptions</p>
  <div class="subscription-name"></div>
  <div class="subscription-cost"></div>
  <table style="width:100%">
    <tbody>
      <tr>
        <td >Netflix</td>
        <td>$9/month</td>
      </tr>
      <tr>
        <td>Netflix</td>
        <td>$9/month</td>
      </tr>
      <tr>
        <td>Netflix</td>
        <td>$9/month</td>
      </tr>
      <tr>
        <td>Netflix</td>
        <td>$9/month</td>
      </tr>
      <tr>
        <td>Netflix</td>
        <td>$9/month</td>
      </tr>
    </tbody>
  </table>
</div>