<div class="container">
  <div class="auth-form">
    <div class="lg-20">Confirm your account.</div>
    <p class="line-break"></p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :email, class: 'control-label form-label' %>
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
      </div>
    </div>
    <div class="btn-container">
      <p><%= f.submit "Continue", :class => 'btn btn-primary btn-small btn-block' %></p>
    </div>
    <% end %>
  </div>
</div>
