<table>
  <tbody>
    <% accounts.each do |account| %>
      <tr>
        <td class="dot p-6">
          <table class="nfixed">
            <tbody>
              <tr>
                <td>
                  <span class="small light-text">
                    <% if account.institution %>
                    <%= account.institution.name.upcase %> -
                    <% end %>
                    <%= account.account_subtype&.upcase %>
                  </span><br/>
                  <span class="small"><%= account.descriptive_name %></span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="right dot small">
          <%= number_to_currency(account.last_balance_value_on(Date.today)) %><br/>
          <div class="small">
            <%= render partial: 'application/trend', locals: { trend: account.balance_trend_as_of(1.week.ago), trend_period: nil } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

