<h2 style="font-size: 1.5rem;padding: 10px 0;border-bottom: 1px solid #EEE;font-weight: 500;">Weekly summary of your finances.</h2>
<%= render partial: 'mailer_trend_summary', locals: { title: 'Your Net Worth', value: @account.net_worth,
  url: cashflow_url, trend: @net_worth_change, size: 'xl' } %>
<table style="width: 100%;table-layout: fixed;">
  <tbody>
    <tr>
      <td><div style="font-size: 0.825rem">Total income this week</div></td>
      <td style="text-align: right">
        <div style="font-size: 0.825rem"><%= link_to number_to_currency(@cashflow.total_money_in), income_expense_url,
          style: 'text-decoration: none;cursor: pointer; color: #444' %></div>
      </td>
    </tr>
    <tr>
      <td><div style="font-size: 0.825rem">Total expenses this week</div></td>
      <td style="text-align: right">
        <div style="font-size: 0.825rem"><%= link_to number_to_currency(@cashflow.total_money_out), income_expense_url,
          style: 'text-decoration: none;cursor: pointer; color: #444' %></div>
      </td>
    </tr>
  </tbody>
</table>
<%= render partial: 'mailer_trend_summary', locals: { title: 'Assets', value: @account.total_assets,
  url: cashflow_url, trend: @assets_change, size: 'lg' } %>
<%= render partial: 'mailer_trend_summary', locals: { title: 'Cash', value: @account.total_cash_assets,
  url: cashflow_url, trend: @cash_change, size: 'med' } %>
<%= render partial: 'mailer_trend_summary', locals: { title: 'Investments', value: @account.total_non_cash_assets,
  url: cashflow_url, trend: @investments_change, size: 'med' } %>
<%= render partial: 'mailer_trend_summary', locals: { title: 'Liabilities', value: @account.total_liabilities,
  url: cashflow_url, trend: @liabilities_change, size: 'lg' } %>

