<h2 class="header">Weekly summary of your finances.</h2>
<table>
  <tbody>
    <tr>
      <td><h2 class="nbold dh2">Your Net Worth</h2></td>
      <td class="right">
        <div class="nbold dh2"><%= link_to number_to_currency(@account.net_worth), cashflow_url %></div>
        <div class="small">
          <%= render partial: 'application/trend', locals: { trend: @net_worth_change, trend_period: nil } %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td><div class="small">Total income this week</div></td>
      <td class="right">
        <div class="small"><%= link_to number_to_currency(@cashflow.total_money_in), income_expense_url %></div>
      </td>
    </tr>
    <tr>
      <td><div class="small">Total expenses this week</div></td>
      <td class="right">
        <div class="small"><%= link_to number_to_currency(@cashflow.total_money_out), income_expense_url %></div>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td><h3 class="nbold">Assets</h3></td>
      <td class="right">
        <div class="nbold dh3"><%= link_to number_to_currency(@account.total_assets), cashflow_url %></div>
        <div class="small">
          <%= render partial: 'application/trend', locals: { trend: @assets_change, trend_period: nil } %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td style="padding-left: 20px"><h4 class="nbold">Cash</h4></td>
      <td class="right">
        <div class="small"><%= link_to number_to_currency(@account.total_cash_assets), cashflow_url %></div>
        <div class="small">
          <%= render partial: 'application/trend', locals: { trend: @cash_change, trend_period: nil } %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td style="padding-left: 20px"><h4 class="nbold">Investments</h4></td>
      <td class="right">
        <div class="small"><%= link_to number_to_currency(@account.total_non_cash_assets), cashflow_url %></div>
        <div class="small">
          <%= render partial: 'application/trend', locals: { trend: @investments_change, trend_period: nil } %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td><h3 class="nbold">Liabilities</h3></td>
      <td class="right">
        <div class="nbold dh3"><%= link_to number_to_currency(@account.total_liabilities), cashflow_url %></div>
        <div class="small">
          <%= render partial: 'application/trend', locals: { trend: @liabilities_change, trend_period: nil } %>
        </div>
      </td>
    </tr>
  </tbody>
</table>

