<%= form_for(current_user,:html => { :method => :put, class: 'form-horizontal', remote: true }) do |f| %>
<%= render 'shared/error_messages', object: current_user %>
<div class="mb-3 col-sm-8">
  <%= f.label :full_name, 'Name', class: 'control-label form-label med bold-2' %>
  <div>
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
</div>

<div class="mb-3 col-sm-8">
  <%= f.label :email, class: 'control-label form-label med bold-2' %>
  <div>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
</div>

<div class="mb-3 col-sm-8">
  <%= f.label :time_zone, 'Time zone', class: 'form-label control-label med bold-2' %>
  <div>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, class: 'form-select' %>
  </div>
</div>

<div class="mb-3">
  <%= f.submit "Update profile changes", class: 'btn btn-primary med' %>
</div>
<% end %>
