<div class="row mt-4">
  <div class="col-sm-4">
    <figure class="figure">
      <img width="200" height="200" class="u-display-b" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAFcElEQVR4nO1c
      UY6rOBDsxpF4f+QG5CbkZoabhZuEGyR/QQrprWp7Rrt/+4YVj0XmB0Eoyfa0
      ytXd5anst69KfvsqkAIpkAIpkH8LeSqvXyJjb/rLn04i01WML2XA0/My+keX
      TQd2KEiL7ezty6r2PItEm/Wcfsfq9p9F/aXZY+OBHQoyKu+t9XqqH9L1fNfe
      pArP9o5vwosvPNg3HtjxIIhkWZwgKnII6CKFN67m/icHdiDI8yLDh+s52gJO
      BkOTmqUzkfrxJwd2EEhnvroSw5usoeFdm90EL8Eag87OE2avzQd2IMjkeuLZ
      Db34Vmd+EwlzM30/DfjovPHADgRpPFt+Of2GV3Pv+hTXwwdPY+wlQHJ0/tF9
      04EdCzKqQKZBXYjMZ8Q1bqrXqKdZEd7LqbZR++ofkG0GdhwImcFqBC1X15Wc
      BHuAjP2Lb0HHlb9sOrBDQaZosjRQEBGyAhkfZQVYI++GA3Sd/x20KXSxgpOH
      Ptjr2RkooSb18pfpOlQLk2xTyopOtx/YkSDPS8eiRTNeB32Dk3lzreFbXadZ
      Vpg99bLpwA4FYS0IkXyRiLxj6m5M/CgyUiIdPznjc0bZ+1x2C8GulqN1QUDf
      RT7Bg5ZpNZVHsIlPp5mVjJ3PZb+QEcwAgTxCVjCri+lt1Prlf4C3QHn06sG+
      +7nsGALp8EA+nStDuVrhBaLYI4T1IqKQy/fNB3YUCAlCuashoGdt76PmAhEz
      FBlNyRou6EokrykQabU0Nl4l00XwZWWOR+WhjPLvOtHe57JTiHc/fKuLrico
      6BDQyEKCVytAxpB30epn2fhW0EVnmZMtC+R3/ZiuEXSh3UDycJ7IZeVdz2W3
      EHZJg6sLMy/Tq55mCLrhg/yPcvnNSn5f6GIdxAlCLyAIYcEt7XFY8vp5prxz
      dTF4n2TjgR0JAgXBVnRnXsK4+VobBDJid4pWgSfaVNDYemAHgkALs4M6qX4W
      bbHHVUmtVYEmgFTxZKJSahc/h3g5k9qtM61ZSPYc786fyRPR5TKoeS6lzp9D
      oCegLvTceo+Pcb2c2BkZ6CDCS+x/D0S5+W6487nsFuI1TjMmI8ksJGTo1iCe
      Gd6924qQ8YVSu1gFiQvVBbSbvXKnifl0mBvI5cFoKxoLXayEIIP2rp4gu55o
      HUJqkpt7WN2UZBe6WAVxU0U2sJykgXarZG5HZa7d0uOykJoNa13oYoW6YN5B
      30V0lxCYwZLIUHZQ6Qxg0WKpi+/i5xCmH6nG2TOfnq7CUucUVd/I/8DJXslA
      sBcH0QoIs7pgU2e9zaxqSph/eZ0ISw6RUTEL6frchdr5XPYKoSUACQcjuRKP
      ZKYmtIS/2SehGQNEHS31//Y9lx1DOuxxlu2xtF+I+LIu0G7tjfYLEjX/AFsP
      7GAQ1i4iG9MPGgQ840vVev2yunxCsc6ugEzqzk3INDdcjOqCrvNtkGXQvzWj
      th3YoSDuIJIUwuf2FpPhUGymQM7+rIinwslr6snIpykdXK3xBQJ6dN8hDQJa
      Q3kMRV2sgrg/i1md73jJLOtOCy55a8aMjzq5pNUrII1Zsg6NPRI/9q5TZ4QN
      J5qWg4GvzdLJqJ3PZbeQ7xOpEsOcREZ2hqcapyQJJ0VdrIGkE6nNvdMPtHCq
      3fMslP9Iw+ErG+7Lxrdq4+OdTot0FCd3Rtyt1fWLNo9Jiwn8v4A8O9Y4sdUN
      lg/60pHMSoY77S2favhfzGW/EETr4sVNVpe5G+obAU0XxkwXopYjZqsg6QwO
      FjGk43xWUxI7J6faRT7xsPnADgSZvv7DxeCdEUMizc4ITXB+WBIXd8Piu1gB
      +TqRinzayxR+dIRZSGqQxA/NnR0ESDGBF0iBFEiB7A3yF720SByt7ySEAAAA
      AElFTkSuQmCC
      ">
      <figcaption class="figure-caption text-center">Point your camera here.</figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <ol>
      <li class="med">Download an Authentication App. We suggest <strong>Google Authenticator</strong> for
        <%= link_to 'iPhone', 'https://apps.apple.com/us/app/google-authenticator/id388497605', target: '_blank',
        class: 'grey-linky text-decoration-underline' %>
         or <%= link_to 'Android', 'https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US&gl=US', target: '_blank',
         class: 'grey-linky text-decoration-underline'%>.
       </li>
      <li class="med">Open the authenticator app, tap "Scan QR code" or "+" button.</li>
      <li class="med">Point your phone's camera at the QR code on the left.</li>
    </ol>
  </div>
</div>
<div class="row mt-2">
  <section class="form-background col-8">
    <%= form_tag '/users/invite_person', class: 'form-inline' do %>
    <p class="med">Enter the six-digit code generated in the authenticator app.</p>
    <div class="row m-0">
      <div class="col-sm-6 my-1 p-0 pe-2">
        <%= text_field_tag 'code', '', { class: 'form-control med', placeholder: '6-digit code', size: 40 } %>
      </div>
      <div class="col-sm-6 my-1 p-0 pe-2">
        <%= button_tag 'Verify code', class: 'btn btn-primary med'%>
      </div>
    </div>
    <% end %>
  </section>
</div>