<li class="pb-2 border-bottom mb-3">
  <div>
    <span class="fw-bold"><%= user.full_name%></span>
    <% if user.account_owner? %>
    <span class="badge rounded-pill bg-warning">Owner</span>
    <% end %>
  </div>
  <div class="med"><%= user.email%></div>
  <div class="med">
    <% if user.activated? %>
      Joined on <%= user.created_at.strftime("%B %d, %Y")%>
    <% else %>
      Invited on <%= user.created_at.strftime("%B %d, %Y")%>
    <% end %>
  </div>
  <%= link_to 'Edit Profile', accounts_settings_path, class: 'purple-linky small text-decoration-underline '%>
  <% unless user.activated? %>
  | <%= link_to 'Resend invitation email', reinvite_user_path(user), method: :post,
      class: 'purple-linky small text-decoration-underline '%>
  <% end %>
</li>
