<% title "Users" %>
<div class="row border-bottom p-2 med m-0 fw-bold">
  <div class="col-4">Name</div>
  <div class="col-4">Login Info</div>
  <div class="col-4">Metadata</div>
</div>
<% @users.each do |user|%>
  <div class="row border-bottom med m-0 p-2">
    <div class="col-4">
      <div><%= user.full_name %></div>
      <div><%= user.email %></div>
      <div class="xs grey-50">Confirmed at <%= user.confirmed_at&.strftime('%c') || '-' %></div>
    </div>
    <div class="col-4 small">
      <div>Created on - <%= user.created_at&.strftime('%c') || '-' %></div>
      <div>Sign in count - <%= user.sign_in_count %></div>
      <div>Current Sign in at - <%= user.current_sign_in_at&.strftime('%c') || '-' %></div>
    </div>
    <div class="col-4 small">
      <div>Login Items - <%= user.login_items.size %></div>
      <div>Accounts - <%= user.bank_accounts.size %></div>
      <div>Transactions - <%= user.transactions.count%></div>
    </div>
  </div>
<% end %>
