<div class="xs py-1 fw-bold m-2 float-start"> FILTER BY: </div>
<div class="float-start m-2">
  <%= link_to '', data: { action: 'click->dropdown#showList', dropdown_target_param: 'timePeriodList'}, class: 'time-scale px-3 py-2 border rounded-2 xs text-center' do %>
    <div class="d-inline">
      <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
      </svg>
    </div>
    <div class="d-inline align-middle" id="selected-period" data-value="<%= @period %>"><%= Stat::SUPPORTED_PERIODS[@period] %></div>
  <% end %>
  <div data-controller="dropdown" class="border rounded-3 xs primary-900-bg searchable-list hide position-absolute z-1000 my-1 mx-0"
    data-dropdown-list-search-class="time-period-item" data-dropdown-selected-target-value="selected-period"
    data-dropdown-target='timePeriodList'>
    <div class="row m-0 px-1 border-bottom">
      <%= text_field_tag 'time_period', '', placeholder: 'Set time period..', class: 'border-0 py-2 px-1 primary-900-bg', size: 25,
        data: { action: 'input->dropdown#updateTimePeriodsPicker keydown->dropdown#keyboardActions' }%>
    </div>
    <%= link_to '', data: {action: 'click->dropdown#selectItem', value: Stat::SUPPORTED_PERIODS[Stat::THIS_MONTH], period: Stat::THIS_MONTH} do %>
      <div class="row m-0 py-2 px-1 border-bottom hoverable <%= 'selected' if @period.eql?(Stat::THIS_MONTH) %>">
        <div class="col-3 border text-start rounded-1 primary-bg xs fw-bold "><%= Date.today.strftime('%b') %></div>
        <div class="col-9 small text-start time-period-item"><%= Stat::SUPPORTED_PERIODS[Stat::THIS_MONTH] %></div>
      </div>
    <% end %>
    <%= link_to '', data: {action: 'click->dropdown#selectItem', value: Stat::SUPPORTED_PERIODS[Stat::LAST_MONTH], period: Stat::LAST_MONTH} do %>
      <div class="row m-0 py-2 px-1 border-bottom hoverable <%= 'selected' if @period.eql?(Stat::LAST_MONTH) %>">
        <div class="col-3 border text-start rounded-1 primary-bg xs fw-bold"><%= (Date.today - 1.month).strftime('%b') %></div>
        <div class="col-9 small text-start time-period-item"><%= Stat::SUPPORTED_PERIODS[Stat::LAST_MONTH] %></div>
      </div>
    <% end %>
    <%= link_to '', data: {action: 'click->dropdown#selectItem', value: Stat::SUPPORTED_PERIODS[Stat::QUARTERLY], period: Stat::QUARTERLY} do %>
      <div class="row m-0 py-2 px-1 border-bottom hoverable <%= 'selected' if @period.eql?(Stat::QUARTERLY) %>">
        <div class="col-3 border text-start rounded-1 primary-bg xs fw-bold">3M</div>
        <div class="col-9 small text-start time-period-item"><%= Stat::SUPPORTED_PERIODS[Stat::QUARTERLY] %></div>
      </div>
    <% end %>
    <%= link_to '', data: { action: 'click->dropdown#selectItem', value: Stat::SUPPORTED_PERIODS[Stat::YEARLY], period: Stat::YEARLY } do %>
      <div class="row m-0 py-2 px-1 border-bottom hoverable <%= 'selected' if @period.eql?(Stat::YEARLY) %>">
        <div class="col-3 border rounded-1 primary-bg xs fw-bold">1Y</div>
        <div class="col-9 small text-start time-period-item"><%= Stat::SUPPORTED_PERIODS[Stat::YEARLY] %></div>
      </div>
    <% end %>
    <%= link_to '', data: {action: 'click->dropdown#selectItem'} do %>
      <div class="row m-0 py-2 px-1 hoverable <%= 'selected' if @period.eql?(Stat::ALL) %>">
        <div class="col-3 border rounded-1 primary-bg xs fw-bold">ALL</div>
        <div class="col-9 small text-start time-period-item"><%= Stat::SUPPORTED_PERIODS[Stat::ALL] %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="float-start m-2">
  <%= link_to '', data: { action: 'click->dropdown#showList', dropdown_target_param: 'accountList'}, class: 'time-scale px-3 py-2 border rounded-2 xs text-center' do %>
    <div class="d-inline">
      <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
      </svg>
      <div class="d-inline align-middle" id='selected-account' data-value="">All accounts</div>
    </div>
  <% end %>
  <div data-controller="dropdown" class="border rounded-3 xs text-start primary-900-bg searchable-list hide position-absolute z-1000 my-1 mx-0"
    data-dropdown-list-search-class="account-item" data-dropdown-selected-target-value="selected-account"
    data-dropdown-target='accountList'>
    <div class="row m-0 px-1 border-bottom">
      <%= text_field_tag 'time_period', '', placeholder: 'Set account..', class: 'border-0 py-2 px-1 w-100 primary-900-bg',
        data: { action: 'input->dropdown#updateTimePeriodsPicker keydown->dropdown#keyboardActions' }%>
    </div>
    <%= link_to '', {data: { action: 'click->dropdown#selectItem', account_id: nil } } do %>
      <div class="row m-0 px-2 py-2 border-bottom hoverable account-item med">All accounts</div>
    <% end %>
    <% @accounts_metadata.each do |id, display_name| %>
      <% if display_name.present? %>
        <%= link_to '', {data: { action: 'click->dropdown#selectItem', account_id: id } } do %>
          <div class="row m-0 px-2 py-2 border-bottom hoverable account-item med"><%= display_name %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
