<div class="login-items-container">
  <% @login_items.each do |item| %>
    <div class="login-item-container">
      <div class="institution-logo"><%= image_tag item.institution.logo_source, size: '60x60' %></div>
      <div class="status"><%= item.status.humanize %></div>
      <div class="institution-name"><%= item.institution.name %></div>
      <div class="small inactive">Added on <%= item.created_at.strftime('%b, %d %Y') %></div>
      <div class="item-details">
        <div>
          <span class="lg-24"><%= item.bank_accounts.count %></span> <span class="xs inactive">Bank Accounts</span>
        </div>
        <div>
          <span class="lg-24"><%= item.transactions_count %></span> <span class="xs inactive">Transactions</span>
        </div>
      </div>
      <div>
        <div class="small inactive">
          Transaction history
        </div>
        <div class>
          <%= item.transactions_history_period[0]&.strftime('%b, %d %Y') || 'N/A'%> -
          <%= item.transactions_history_period[1]&.strftime('%b, %d %Y') || 'N/A'%>
        </div>
      </div>
      <div class="btn-container" style="margin: 30px 0">
        <%= link_to_if(item.expired?, 'Update Login', '', class: 'xs btn btn-primary btn-sm', data: {controller: 'plaid',
          action: 'click->plaid#updateLoginItem', token: item.fetch_public_token}){} %>
        <%= link_to 'Refresh', refresh_transactions_path(item), class: 'xs btn btn-secondary btn-sm' %>
        <%= link_to 'Delete', login_item_path(item),
          :data => { :confirm => "We will delete all accounts and transactions related to this login item." },
          :method => :delete,
          class: 'xs btn btn-outline-danger btn-sm' %>
      </div>
    </div>
  <% end %>
</div>