<div class="login-items-container">
  <% @login_items.each do |item| %>
    <div class="login-item-container">
      <div class="institution-logo"><%= image_tag item.institution.logo_source, size: '60x60' %></div>
      <div class="status"><%= item.status.humanize %></div>
      <div class="institution-name"><%= item.institution.name %></div>
      <div>
        <span><%= item.bank_accounts.count %></span> <span class="small inactive">Bank Accounts</span> |
        <span><%= item.transactions_count %></span> <span class="small inactive">Transactions</span>
      </div>
      <div class="small inactive">Added on <%= item.created_at.strftime('%b, %d %Y') %></div>
      <div class="btn-container" style="margin: 30px 0">
        <%= link_to 'Update Login', '', class: 'btn btn-sm btn-secondary' %>
        <%= link_to 'Delete', login_item_path(item), 
          :data => { :confirm => "We will delete all accounts and transactions related to this login item." },
          :method => :delete, 
          class: 'btn btn-sm btn-outline-danger' %>
      </div>
    </div>
  <% end %>
</div>