<div class="container-fluid bank-account-info">
  <div class="row align-items-center">
    <div class="bank-account-details col">
      <% if account.login_item %>
        <div class="bank-logo">
          <%= image_tag account&.login_item&.institution&.logo_source, size: "30x30" %>
        </div>
      <% else %>
        <%= render 'placeholder_logo', account: account %>
      <% end %>
      <div class="account-title">
        <div><%= account.display_name %></div>
        <div class="small grey"><%= account.account_subtype&.upcase %></div>
      </div>
    </div>
    <div class="col text-right">
      <div class="bold-1"><%= number_to_currency(account.balance)%></div>
      <div class="small">
        <%= link_to 'Refresh Balance', refresh_balance_path(account), class: 'xs grey underline'%> |
        <%= link_to 'Delete', bank_account_path(account),
          :data => { :confirm => "We will delete all transactions related to this bank account." },
          :method => :delete,
          class: 'xs grey-linky underline' %>
      </div>
    </div>
  </div>
</div>
<div class="bank-account-info small">
  <% account.balances.each do |balance| %>
    <div class="row">
      <div class="col"><%= balance.created_at.strftime('%m/%d/%Y') %></div>
      <div class="col"><%= account.name %></div>
      <div class="col"><%= number_to_currency(balance.current) %></div>
    </div>
  <% end %>
</div>