<div class="row border-bottom py-3 m-0 px-2" id="account-row-<%= account.id%>">
  <div class="col-8 p-0">
    <div class="row m-0">
      <div class="p-2 col-4 mw60">
        <% if account.institution&.logo.present? %>
          <div class="text-center"><%= image_tag account&.institution&.logo_source, size: "30x30" %></div>
        <% else %>
          <%= render 'placeholder_logo', account: account %>
        <% end %>
      </div>
      <div class="col-8 p-0">
        <div class="med grey-100">
          <% if account.institution %>
          <%= account.institution.name.upcase %> -
          <% end %>
          <%= account.account_subtype&.upcase %>
        </div>
        <div class="med"><%= account.descriptive_name %></div>
      </div>
    </div>
  </div>
  <div class="col-4 text-end p-0">
    <div class="grey-100 med"><%= time_ago_in_words(account.current_balance_updated_at) %> ago</div>
    <div><%= number_to_currency(account.current_balance)%></div>
    <div class="small">
      <% if account.manually_tracked? %>
      <%= link_to 'Update', edit_bank_account_path(account), {data: {remote: true, bs_toggle: 'modal', bs_target: '#cheer-modal'},
        class: 'xs grey-100 text-decoration-underline'}%>
      <% end %>
    </div>
  </div>
</div>