<div class="row m-0 border-bottom py-3 px-2">
  <div class="col-8 med">
    <div class="row">
      <div class="col-2 d-none d-sm-block">
        <% if account.login_item %>
          <div class="p-2"><%= image_tag account&.login_item&.institution&.logo_source, size: "30x30" %></div>
        <% else %>
          <%= render 'bank_accounts/placeholder_logo', account: account %>
        <% end %>
      </div>
      <div class="col-10">
        <div><%= account.display_name %></div>
        <div class="small grey-100"><%= account.account_subtype&.upcase %></div>
      </div>
    </div>
  </div>
  <div class="col-4 text-end med"><%= cheer_number_to_currency(account.current_balance) %></div>
</div>