<div class="row m-0 border-bottom py-3 px-2">
  <div class="col-8 med">
    <div class="row">
      <div class="col-3 px-0 mw60 text-center">
        <% if account.institution&.logo.present? %>
          <div class="py-2"><%= image_tag account&.institution&.logo_source, size: "30x30" %></div>
        <% else %>
          <%= render 'bank_accounts/placeholder_logo', account: account %>
        <% end %>
      </div>
      <div class="col-9">
        <div class="small grey-100">
          <% if account.institution %>
            <%= account&.institution.name.upcase %> -
          <% end %>
          <%= account.account_subtype&.upcase %>
        </div>
        <div class="med">
          <%= account.display_name %>
          <% if account.mask %>
            - <%= account.mask %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 text-end">
    <div class="grey-100 small"><%= time_ago_in_words(account.current_balance_updated_at) %> ago</div>
    <div class="med"><%= number_to_currency(account.current_balance) %></div>
  </div>
</div>