<div class="account-fields" id="realty-fields" >
  <div class="form-group row py-1 my-2" id="property-data">
    <div class="col-sm-6">
      <%= label_tag :name, 'Property address', class: 'med bold-2 mb-2' %>
      <div data-controller="search">
        <%= text_field_tag :name, nil,
        { class: 'form-control med', data: { target: 'search.query', action: 'input->search#addressLookup input->accounts#validateSubmit'},
        placeholder: '123 Agnus St, Chicago IL 60611', autocomplete: 'off' } %>
        <div id="places-container" data-target="search.results"></div>
      </div>
    </div>
  </div>
  <div class="form-group row py-1 my-2">
    <div class="col-sm-6" data-action="mouseenter->accounts#trackIn mouseleave->accounts#trackOut">
      <%= label_tag :account_type, 'Property type', class: 'med bold-2 mb-2' %>
      <div>
        <%= text_field_tag :account_type_field, nil, class: 'form-control med', placeholder: 'Enter property type',
        data: {action: 'focus->accounts#toggleDropdown blur->accounts#toggleDropdown'}, autocomplete: 'off' %>
      </div>
      <%= render 'accounts_dropdown'%>
    </div>
  </div>
  <div class="row py-1 my-2">
    <div class="col-sm-6">
      <%=label_tag :balance, 'Current Value', class: 'med bold-2 mb-2' %>
      <div>
        <%= text_field_tag :balance, nil, class: 'form-control med', placeholder: 'Enter amount e.g. 10,000',
        data: { action: 'keyup->accounts#allowNumbersOnly input->accounts#validateSubmit'} %>
      </div>
    </div>
  </div>
  <div class="btn-container row py-1">
    <div class="col-sm-6">
      <%= button_tag "Add account", :class => 'btn btn-primary', disabled: true, id: 'submit-button' %>
    </div>
  </div>
</div>
