<% title "Accounts" %>
<div class="mt-4 px-3">
  <div class="row">
    <div class="col-sm-8">
      <div class="px-2 py-2 mb-5">
        <div class="fw-bold lg-18">Cash - <%= number_to_currency(current_user.company.total_cash_assets)%></div>
        <div class="mt-2 mb-4 grey-500 med">
          Your total liquid cash that you have available at hand.
        </div>
        <% if @cash_assets.empty? %>
          <div class="med">
            <%= link_to 'Add cash account', new_bank_account_path(account_category: 'asset'),
              class: 'primary text-decoration-underline'%></div>
        <% else %>
          <div class="border rounded-3">
            <% @cash_assets.each do |account|%>
              <%= render 'account_info', account: account %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="px-2 py-2 mb-5">
        <div class="fw-bold lg-18">Investments - <%= number_to_currency(current_user.company.total_non_cash_assets)%></div>
        <div class="mt-2 mb-4 grey-500 med">
          All your investments, collectibles and the real estate properties you are currently tracking.
        </div>
        <% if @non_cash_asset_accounts.empty? %>
          <div class="med">
            <%= link_to 'Add asset account', new_bank_account_path(account_category: 'asset'),
              class: 'primary text-decoration-underline'%></div>
        <% else %>
          <div class="border rounded-3">
            <% @non_cash_asset_accounts.each do |account|%>
              <%= render 'account_info', account: account %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="px-2 py-2 mb-5">
        <div class="fw-bold lg-18">Liabilities - <%= number_to_currency(current_user.company.total_liabilities)%></div>
        <div class="mt-2 mb-4 grey-500 med">
          Your liabilities include all of the credit cards, loans, or any other liabilities you are currently tracking.
        </div>
        <% if @liability_accounts.empty? %>
          <div class="med">
            <%= link_to 'Add liability account', new_bank_account_path(account_category: 'liability'),
              class: 'primary text-decoration-underline'%></div>
          </div>
        <% else %>
          <div class="border rounded-3">
            <% @liability_accounts.each do |account|%>
              <%= render 'account_info', account: account %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
