<% title "Cheer Personal" %>
<div class="px-1">
  <!-- <div class="text-end">
    <a class="med" rel="nofollow" data-method="delete" href="/logout">
      <span>Log Out</span>
    </a>
  </div> -->
  <% if current_user.new_company? || @accounts_count == 0 %>
    <div class="my-3 border p-2 med">
      <div class="lg-18 fw-bold">Hello there, Welcome to Your Financial Year in Review!</div>
      <p class=" mt-3">
        Are you ready to embark on a journey through your financial highlights? Whether its end of year, tax season or you just want an overview of
        your financial health, we're here to bring your financial story to the forefront.
      </p>
      <p class="fw-bold mt-3">Why You'll Love It:</p>
      <ul>
        <li><span class="fw-bold">📊 Visualize Your Financial Journey:</span> Explore your year's financial ups and downs in a beautiful and easy-to-understand format.</li>
        <li><span class="fw-bold">📈 Track Your Progress:</span> See how your investments, savings, and expenses evolved throughout the year.</li>
        <li><span class="fw-bold">🔍 Discover Key Insights:</span> Uncover trends, habits, and surprises that can help you make smarter financial decisions.</li>
      </ul>
      <p class="fw-bold mt-3">Getting started is easy</p>
      <ol>
        <li><span class="fw-bold">Connect Your Accounts:</span> Securely link your financial accounts so we can generate your personalized summary.</li>
        <li><span class="fw-bold">Sit Back and Relax:</span> While we crunch the numbers, take a moment to reflect on your financial goals and aspirations.</li>
        <li><span class="fw-bold">Explore Your Year:</span> Dive into your personalized financial summary and gain a deeper understanding of your financial journey.</li>
      </ol>
      <p class="fw-bold mt-5">Your Financial Story Awaits!</p>
      <p>Ready to unwrap your financial year? Let's begin the adventure together. Start by connecting your accounts and discovering the story your numbers have to tell.</p>
      <p class="text-center"><%= link_to "Let's Get Started", '', class: 'btn btn-primary'%></p>
    </div>
  <% else %>
    <div class="my-3">
      <p class="mt-3 med fw-bold">Here is list of your active bank connections.</p>
      <div class="p-2 border rounded-2 secondary-bg">
        <% current_user.login_items.each do |login_item| %>
          <div class="row small m-0 border-bottom py-3">
            <div class="col small text-uppercase"><%= login_item&.institution&.name %></div>
            <div class="col small text-end">
              <%= link_to 'Remove', login_item_path(login_item),
                :data => { :confirm => "We will delete all accounts and transactions related to this linked account." },
                :method => :delete,
                class: 'btn btn-outline-danger danger btn-sm xs px-1 py-0' %>
            </div>
          </div>
        <% end %>
        <div class="connect p-2">
          <%= link_to('Link another account', '', class: 'btn btn-outline-secondary btn-sm xs', data: {controller: 'plaid',
          action: 'click->plaid#createLoginItem'}, id: 'plaid-link') %>
        </div>
      </div>
      <div class="pt-3">
        <p class="pt-3 med fw-bold">And we will pull data for the following accounts.</p>
        <div class="border rounded-2 p-2">
          <% @accounts.each do |account| %>
            <div class="row m-0 border-bottom py-2 px-0 xs">
              <div class="col-8">
                <div class="">
                  <%= account.display_name %>
                  <% if account.mask %>
                    - <%= account.mask %>
                  <% end %>
                </div>
                <div class="grey-100">
                  <% if account.institution %>
                    <%= account&.institution.name.upcase %> -
                  <% end %>
                  <%= account.account_subtype&.upcase %>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class=""><%= number_to_currency(account.current_balance) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="">
      <p class="pt-3 med fw-bold">Ready to generate your report?</p>
      <p class="small">We will generate a report based on the data from the beginning of 2023 for you.</p>
      <%= link_to('Generate Report →', personal_path('review'), class: 'btn btn-primary small') %>
    </div>
  <% end %>
</div>

