<div class="container">
  <h4 class="title">All Categories</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Group</th>
        <th scope="col">Hierarchy</th>
        <th scope="col">Plaid Category ID</th>
        <th scope="col">Rank</th>
        <th scope="col">Essential</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index + 1%></td>
          <td scope="row"><%= category.group.humanize %></th>
          <td><%= category.hierarchy %></td>
          <td><%= category.plaid_category_id %></td>
          <td><%= category.rank%></td>
          <td><%= category.essential%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
