<%= form_for(@transaction, :html => { :method => :put, class: 'form-horizontal', remote: true }) do |f| %>
<div class="row">
  <% if @attribute == 'custom_description' %>
  <div class="mt-2">
    <%= f.text_field @attribute, class: 'form-control xs' %>
  </div>
  <% elsif @attribute == 'category' %>
  <div class="mt-2" data-controller="categories">
    <%= f.hidden_field :category_id %>
    <%= f.text_field :category_name, {value: @transaction.category.category_list_item,
      data: {action: 'input->categories#search', tx_id: @transaction.id}, class: 'form-control xs tx-cat-edit'} %>
    <div id="categories-container-tx-<%= @transaction.id%>" class="categories-container"></div>
  </div>
  <% end %>
  <div class="mt-2">
    <%= f.submit "Save", class: 'btn btn-primary btn-sm xs' %>
    <%= link_to "Cancel", transaction_path(@transaction), remote: true, class: 'btn btn-outline-primary btn-sm xs' %>
  </div>
</div>
<% end %>