<div id="transaction-detail-<%= tx.id %>" class="border-top py-3 small mt-3" data-controller="transactions">
  <div class="row py-2">
    <div class="col-sm-4 py-3">
      <div class="grey-100">Transaction Description</div>
      <div id="custom-description-<%=tx.id%>">
        <%= tx.custom_description %>
        <span class="primary align-bottom mx-2 icon-item-small">
          <%= link_to 'Edit', edit_transaction_path(tx, attribute: 'custom_description'), { class: 'primary small pencil',
          data: {action: 'ajax:success->transactions#renderForm', remote: true, target: "custom-description-#{tx.id}" } } %>
        </span>
      </div>
    </div>
    <div class="col-sm-4 py-3">
      <div class="grey-100">Occured on</div>
      <div class=""><%= tx.occured_at.strftime('%b %-d, %Y') %>
      </div>
    </div>
    <div class="col-sm-4 py-3">
      <div class="grey-100">Transaction Category</div>
      <div class=""><%= tx.category.category_list %></div>
    </div>
    <div class="col-sm-4 py-3">
      <div class="grey-100">Total Amount</div>
      <div class=""><%= transaction_to_currency(tx.amount.abs, tx.currency_code) %></div>
    </div>
    <div class="col-sm-4 py-3">
      <div class="grey-100">Bank Account</div>
      <div class=""><%= tx.bank_account.descriptive_name %></div>
    </div>
    <div class="col-sm-4 py-3">
      <div class="grey-100">Transaction Type</div>
      <div class=""><%= tx.payment_channel&.humanize %></div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <%= link_to 'Delete', '', {class: 'btn btn-outline-danger small' }%>
    </div>
  </div>
</div>