<table class="table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Account</th>
      <th scope="col">Category</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td scope="row"><%= transaction.occured_at.strftime('%m/%d/%Y') %></th>
        <td><%= transaction.bank_account.name %></td>
        <td><%= transaction.category_json %></td>
        <td><%= transaction.transaction_type.humanize %></td>
        <td><%= transaction.description %></td>
        <td><%= number_to_currency(transaction.amount)%></td>
      </tr>
    <% end %>
  </tbody>
</table>