<table class="table">
  <thead>
    <tr class="table-header">
      <th></th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Account</th>
      <th scope="col">Amount</th>
      <% if current_user.admin? %>
      <th scope="col">Other ID</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody class="small">
    <% @transactions.each do |transaction| %>
      <tr>
        <td><div class="status <%= transaction.status %>"><%= transaction.status.humanize %></div></td>
        <td scope="row">
          <%= transaction.occured_at.strftime('%b %d, %Y') %>
        </td>
        <td>
          <div><%= transaction.description %></div>
          <div class="inactive"><%= transaction.category.category_list %></div>
        </td>

        <td>
          <div id="name"><%= transaction.bank_account.name %></div>
          <div class="inactive">Account ending in <%= transaction.bank_account.mask %></div>
        </td>
        <td>
          <div><%= number_to_currency(transaction.amount)%></div>
          <div class="inactive"><%= transaction.payment_channel&.humanize %></div>
        </td>
        <% if current_user.admin? %>
        <td><code><%= transaction.plaid_transaction_id %></code></td>
        <% end %>
        <td>
          <%= link_to 'Delete', transaction_path(transaction),
            :method => :delete,
            class: 'grey-linky underline' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>