<table class="table">
  <thead>
    <tr class="table-header row">
      <th scope="col" class="col-2 text-start">Date</th>
      <th scope="col" class="col-5 text-start">Description</th>
      <th scope="col" class="col-3 text-start">Account</th>
      <th scope="col" class="col-1">Amount</th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody class="small">
    <% @transactions.each do |transaction| %>
      <tr class="row">
        <td scope="row" class="col-2 text-start">
          <%= transaction.occured_at.strftime('%b %d, %Y') %>
        </td>
        <td class="col-5 text-start">
          <div>
            <span class="primary med"><%= transaction.custom_description %></span>
            <% if transaction.pending? %>
            <span class="status <%= transaction.status %>"><%= transaction.status.humanize %></span>
            <% end %>
          </div>
          <div class="inactive xs"><%= transaction.category.category_list %></div>
        </td>
        <td class="col-3 text-start">
          <div><%= transaction.bank_account.display_name %></div>
          <div class="inactive xs">Account ending in <%= transaction.bank_account.mask %></div>
        </td>
        <td class="col-1">
          <div class="med <%=tx_amount_type(transaction.amount).downcase%>"><%= number_to_currency(transaction.amount)%></div>
        </td>
        <td class="col-1">
          <%= link_to 'Delete', transaction_path(transaction),
            :method => :delete,
            class: 'grey-linky underline' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>