<div class="row py-2 border-bottom">
  <div class="col-3 text-uppercase small grey-100">Date</div>
  <div class="col-6 text-uppercase small grey-100">Description</div>
  <div class="col-3 text-uppercase small grey-100">Amount</div>
</div>
<div class="hide" id="spinner-container">
  <div class="d-flex justify-content-center mt-5" >
    <div class="spinner-border grey-100" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<% if @transactions.empty? %>
<div class="text-center grey-100 py-5">No transactions found.</div>
<% else %>
<% @transactions.each do |transaction| %>
<div class="row py-3 border-bottom tx-row" id="tx-<%= transaction.id %>" data-controller="transactions"
  data-tx-id="<%= transaction.id%>" data-action="click->transactions#fetchTransactionDetails">
  <div class="col-3 med">
    <div><%= transaction.formatted_occurred_at %></div>
  </div>
  <div class="col-6">
    <div>
      <span class="med"><%= transaction.custom_description %></span>
      <% if transaction.pending? %>
      <span class="status rounded-pill px-2 py-1 xs <%= transaction.status %>"><%= transaction.status.humanize %></span>
      <% end %>
      <div class="grey-100 med"><%= transaction.category.category_list%></div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-sm-9 text-start med">
        <div class="<%=tx_amount_type(transaction.amount).downcase%>">
          <%= signed_number_to_currency(transaction.amount)%>
        </div>
      </div>
      <div class="col-sm-3 med text-start chevron-right"></div>
    </div>
  </div>
</div>
<% end %>
<% end %>