<%= turbo_frame_tag dom_id(transaction) do %>
  <%= link_to transaction_path(transaction), class: 'no-bubble',
    data: {remote: true, bs_toggle: 'modal', bs_target: '#cheer-modal' } do %>
    <div class="row py-3 border-bottom tx-row med">
      <div class="col-3">
        <div><%= transaction.formatted_occurred_at %></div>
      </div>
      <div class="col-6">
        <div class="custom-desc text-truncate">
          <% if transaction.duplicate? %>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-exclamation-octagon danger" viewBox="0 0 16 16">
              <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
          <% elsif transaction.pending? %>
            <span href="#" data-bs-toggle="tooltip" data-bs-title="Pending transaction">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle warning" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
              </svg>
            </span>
          <% end %>
          <%= transaction.custom_description %>
        </div>
        <div class="grey-100 category-list xs text-truncate"><%= transaction.category.category_list%></div>
      </div>
      <div class="col-3 text-end">
        <div><%= signed_number_to_currency(transaction.amount)%></div>
        <div class="grey-100 xs text-truncate"><%= transaction.bank_account.display_name%></div>
      </div>
    </div>
  <% end %>
<% end %>