<div class="row">
  <div class="col-lg-4">
    <div class="grey">
      Occured on
    </div>
    <div class="">
      <%= tx.occured_at.strftime('%b %-d, %Y') %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="grey">
      Type
    </div>
    <div class="">
      <%= tx.category.primary_name %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="grey">
      Amount
    </div>
    <div class="">
      <%= transaction_to_currency(tx.amount.abs, tx.currency_code) %>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-lg-8">
    <div class="grey">
      Account Name
    </div>
    <div class="">
      <%= tx.bank_account.descriptive_name %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="grey">
      Account Type
    </div>
    <div class="">
      <%= tx.bank_account.account_subtype.humanize %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="grey">
    </div>
    <div class="">
    </div>
  </div>
</div>