<div class="modal-dialog med secondary-bg" id="transaction-details">
  <div class="modal-content big-shadow border-0" data-controller="transactions">
    <div class="modal-header d-block">
      <div class="row">
        <div class="col">
          <h5 class="modal-title med" id="cheerModalLabel">Transaction Details</h5>
        </div>
        <div class="col text-end">
          <%= render 'transaction_menu', transaction: transaction %>
          <button type="button" class="btn-close btn-h" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div id="transaction-detail-<%= transaction.id %>" class="med px-2">
        <% if transaction.duplicate? %>
          <%= render 'duplicate_transaction', duplicate_transaction: transaction.duplicate_transaction, original_transaction: transaction %>
        <% elsif transaction.pending? %>
          <div class="px-3 py-2 border rounded-2 xs">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle warning" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
            <span>This transaction is pending and has not been settled.</span>
          </div>
        <% end %>
        <div class="py-3">
          <div class="grey-100 small">Description</div>
          <div id="custom-description-<%=transaction.id%>">
            <span class="custom-desc me-2"><%= transaction.custom_description %></span>
            <span class="primary align-bottom">
              <%= link_to 'Edit', edit_transaction_path(transaction, attribute: 'custom_description'), { class: 'primary small fw-bold',
              data: {action: 'ajax:success->transactions#renderForm', remote: true, target: "custom-description-#{transaction.id}" } } %>
            </span>
          </div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Occured On</div>
          <div class=""><%= transaction.occured_at.strftime('%b %-d, %Y') %>
          </div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Total Amount</div>
          <div class=""><%= signed_number_to_currency(transaction.amount) %></div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Transaction Category</div>
          <div id="category-<%= transaction.id%>">
            <span class="category-list"><%= transaction.category.category_list %></span>
            <span class="primary align-bottom mx-2">
              <%= link_to 'Edit', edit_transaction_path(transaction, attribute: 'category'), { class: 'primary small',
              data: {action: 'ajax:success->transactions#renderForm', remote: true, target: "category-#{transaction.id}" } } %>
            </span>
          </div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Bank Account</div>
          <div class=""><%= transaction.bank_account.descriptive_name %></div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Description on statement</div>
          <div class=""><%= transaction.description %>
          </div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Transaction Type</div>
          <div class=""><%= transaction.payment_channel&.humanize %></div>
        </div>
        <div class="py-3">
          <div class="grey-100 small">Merchant Name</div>
          <div class=""><%= transaction.merchant_name || '-'%></div>
        </div>
        <div class="border-top py-3 mt-2" id="related-transactions-container" data-controller="related-transactions"
          data-related-transactions-id-value="<%= transaction.id %>"></div>
      </div>
    </div>
  </div>
</div>