<% title "Transactions" %>
<div class="mt-2">
  <div class="row mx-2 mt-3">
    <div class="col-sm-8" data-controller="transactions"
      data-transactions-period-value="<%= @period %>"
      data-action="filterChanged->transactions#handleEvent">
      <div class="row mb-2 px-2">
        <div class="col-sm-6 py-2 mx-0 bold-2 px-0" id="tx-label">
          <div class="row">
            <div class="col">View Transactions</div>
            <div class="col text-end d-sm-none">
              <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-layout-sidebar-reverse" viewBox="0 0 16 16">
                <path d="M16 3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3zm-5-1v12H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h9zm1 0h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-2V2z"/>
              </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 py-2 mx-0 text-end px-0">
          <div class="row">
            <%= form_tag '/transactions', method: :get, id: 'tx-search-form', remote: true do %>
              <%= text_field_tag 'search_query', params[:search_query], cols: 50,  class: 'form-control xs', placeholder: 'Search...',
              data: {action: 'input->transactions#search', transactions_target: 'search'}, autofocus: true %>
            <% end %>
          </div>
        </div>
        <div class="py-2 filters row row-cols-auto border rounded-2 px-0 mx-0 mb-2 primary-900-bg" data-controller="dropdown">
          <%= render 'shared/time_period_links' %>
        </div>
        <div class="row mx-0 px-0">
          <div class="row py-2 px-0 border-bottom mx-0 primary-900-bg">
            <div class="col-3 text-uppercase small grey-100">Date</div>
            <div class="col-6 text-uppercase small grey-100">Description</div>
            <div class="col-3 text-uppercase small grey-100 text-end">Amount</div>
          </div>
          <div class="hide p-2" id="spinner-container">
            <div class="d-flex justify-content-center mt-5" >
              <div class="spinner-border grey-100" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div id="transactions-container" class="px-2">
            <%= render 'transactions' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" data-controller="transactions">
      <div class="border rounded-3 mb-4 primary-900-bg">
        <div class="bold-2 p-3 border-bottom">Transactions by category</div>
        <div id="transactions-by-categories">
          <%= render 'transactions_by_categories', transactions_by_category: @transactions_by_category %>
        </div>
      </div>
      <div class="border rounded-3 primary-900-bg">
        <div class="bold-2 p-3 border-bottom">Transactions by merchant</div>
        <div id="transactions-by-merchants">
          <%= render 'transactions_by_merchants' %>
        </div>
      </div>
    </div>
  </div>
</div>