<% if trend['last_change'] >= 0 %>
  <span class="trend-value up">+<%= number_to_currency(trend['last_change'])%></span>
<% else %>
  <span class="trend-value down"><%= number_to_currency(trend['last_change'])%></span>
<% end %>
<% if trend['last_change_percentage'] >= 0 %>
  <span class="trend-value up">(<%= number_to_percentage(trend['last_change_percentage'], precision: 2)%>)</span>
<% else %>
  <span class="trend-value down">(<%= number_to_percentage(trend['last_change_percentage'], precision: 2)%>)</span>
<% end %>
<% if trend_period %>
  <span class="grey-500"><%= trend_period %></span>
<% end %>