<!DOCTYPE html>
<html>
  <head>
    <title>Cheer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <div class="row m-0">
      <div class="col-lg-2 border-end">
        <div class="nav-container">
          <%= render 'layouts/side_nav' %>
        </div>
      </div>
      <div class="col-lg-10 px-0">
        <div class="container-fluid">
          <div class="main-container">
            <%= render 'shared/alerts' %>
            <div><%= yield %></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
