<!DOCTYPE html>
<html>
  <head>
    <title>Cheer - <%= yield(:title).presence || "Dashboard" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥳</text></svg>">
    <%= stylesheet_link_tag "application", "main", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="body">
    <div id="page-container" class="container-fluid p-0" data-controller="page">
      <div class="row m-0">
        <div class="col-2 border-end side-nav-hidden" id="nav-container">
          <%= render 'layouts/side_nav' %>
        </div>
        <div class="col px-0">
          <div id="toaster">
            <%= render 'shared/toast_messages' %>
          </div>
          <div class="row border-bottom py-3 px-3 m-0 sticky-top default-bg">
            <div class="col-6 p-0">
              <div class="row">
                <div class="col-1 nav-toggler me-2 d-lg-none" data-controller="navigation" data-action="click->navigation#toggle"></div>
                <h4 class="col"><%= yield(:title).presence || "Dashboard" %></h4>
              </div>
            </div>
            <div class="col-6 p-0 text-end">
              <%= link_to 'Link account', new_bank_account_path(account_category: 'asset'), {data: {remote: true, bs_toggle: 'modal', bs_target: '#cheer-modal'},
                class: 'btn btn-sm btn-primary fw-bold' }%>
            </div>
          </div>
          <div><%= yield %></div>
        </div>
      </div>
    </div>
    <%= render 'shared/cheer_modal' %>
  </body>
</html>
