<!DOCTYPE html>
<html>
  <head>
    <title>Cheer - <%= yield(:title).presence || "Dashboard" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-sm-2 border-bottom border-end">
          <%= render 'layouts/side_nav' %>
        </div>
        <div class="col-sm-10 px-0">
          <%= render 'shared/toast_messages' %>
          <div class="row border-bottom py-3 px-3 m-0">
            <h4 class="col-6 p-0">
              <%= yield(:title).presence || "Dashboard" %>
            </h4>
            <div class="col-6 p-0 text-end">
              <%= link_to 'Link account', new_bank_account_path(account_category: 'asset'), 
                class: 'btn btn-sm btn-primary fw-bold'%>
            </div>
          </div>
          <div class="mt-4 px-3"><%= yield %></div>
        </div>
      </div>
    </div>
  </body>
</html>
