<!DOCTYPE html>
<html>
  <head>
    <title>Cheer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.typekit.net/onr7elc.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity = "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body class="body">
    <header>
      <nav>
        <ul class="simple-list">
          <li><%= link_to 'Cheer', root_path, class: 'logo' %></li>
        </ul>
        <ul class="simple-list main-nav">
        </ul>
        <ul class="simple-list">
          <li><%= link_to 'Link Bank Account', '', {id: 'plaid-link', remote: true, 
            data: {authentication_token: form_authenticity_token }, class: 'btn btn-primary btn-lg bold'} %>
          </li>
          <li><%= image_tag current_user.avatar.attached? ? current_user.avatar : "", size: '25x25', class: 'small-avatar' %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </header>
    
    <main><%= yield %></main>
  </body>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
