<!DOCTYPE html>
<html>
  <head>
    <title>Cheer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <%= favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "main", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="body secondary-bg container">
    <div class="lg-16 text-uppercase fw-bold primary-light my-3">Cheer</div>
    <main class=""><%= yield %></main>
  </body>
</html>
