<!DOCTYPE html>
<html>
  <head>
    <title>Cheer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="plaid-env" content="<%= Rails.application.credentials[:plaid][:environment] %>">
    <meta name="plaid-pk" content="<%= Rails.application.credentials[:plaid][:public_key] %>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity = "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <%= hidden_field_tag 'plaid_environment', Rails.application.credentials[:plaid][:environment] %>
    <%= hidden_field_tag 'plaid_pk', Rails.application.credentials[:plaid][:public_key] %>
    <header>
      <nav>
        <ul class="simple-list">
          <li><%= link_to 'Cheer', root_path, class: 'logo lg-36' %></li>
        </ul>
      </nav>
    </header>
    <main class="container"><%= yield %></main>
  </body>
</html>
