<!DOCTYPE html>
<html>
  <head>
    <title>Cheer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header>
      <nav class="text-center my-3">
        <ul class="simple-list">
          <li class="text-center"><%= link_to 'Cheer', root_path, class: 'logo lg-36' %></li>
        </ul>
      </nav>
    </header>
    <main class="container"><%= yield %></main>
  </body>
</html>
