<% title "Settings" %>
<div>
  <h4 class="">People who can access this account.</h4>
  <ul class="basic">
    <% current_user.account.users.each do |user| %>
      <%= render 'users/user_info', user: user %>
    <% end %>
  </ul>
  <section class="form-background">
    <div class="fw-bold title">Invite others to this account.</div>
    <%= render 'devise/shared/alerts'%>
    <%= form_tag '/users/invite_person', class: 'form-inline' do %>
    <div class="row m-0">
      <div class="col-sm-5 my-2 p-0">
        <%= text_field_tag 'email', '', { class: 'form-control', placeholder: 'Email address', size: 40 } %>
      </div>
      <div class="col-sm-5 my-2 p-0">
        <%= text_field_tag 'full_name', '', { class: 'form-control', placeholder: 'Full Name', size: 40 } %>
      </div>
      <div class="col-sm-2 my-2 p-0">
        <%= button_tag 'Send Invite', class: 'btn btn-primary invite-person'%>
      </div>
    </div>
    <% end %>
  </section>
</div>

