<% title "Settings" %>
<div class="row border-bottom pb-4 mb-4">
  <div class="col-sm-4 mb-3">
    <div class="fw-bold">Profile</div>
    <div class="grey-500 med">
      You can update all your personal settings here.
    </div>
  </div>
  <div class="col-sm-8">
    <%= render partial: 'users/profile_form'%>
  </div>
</div>
<div class="row border-bottom pb-4">
  <div class="col-sm-4 mb-3">
    <div class="fw-bold">Manage your family accounts</div>
    <div class="grey-500 med">
      Here is everyone that has access to this account.
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="basic">
      <% current_user.account.users.each do |user| %>
        <%= render 'users/user_info', user: user %>
      <% end %>
    </ul>
    <section class="form-background">
      <div class="fw-bold med">Want to add members?</div>
      <%= render 'devise/shared/alerts'%>
      <%= form_tag '/users/invite_person', class: 'form-inline' do %>
      <div class="row m-0">
        <div class="col-sm-5 my-2 p-0 pe-2">
          <%= text_field_tag 'email', '', { class: 'form-control med', placeholder: 'Email address', size: 40 } %>
        </div>
        <div class="col-sm-5 my-2 p-0 pe-2">
          <%= text_field_tag 'full_name', '', { class: 'form-control med', placeholder: 'Full Name', size: 40 } %>
        </div>
        <div class="col-sm-2 my-2 p-0 pe-2">
          <%= button_tag 'Send Invite', class: 'btn btn-primary invite-person med'%>
        </div>
      </div>
      <% end %>
    </section>
  </div>
</div>

